
.instructions {
    width: 30%;
    background-color: #99BCCD;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    line-height: 1.5;
    margin-right: 20px;
    margin-left: 25px;
}
.instructions h2 {
    margin-top: 0px;
    font-family: 'Jersey';
    margin-left: 65px; /* Mueve el h2 20px hacia la derecha dentro de la sección de instrucciones */
}


.instructions ul {
    font-family: 'Kaisei HarunoUmi';
    font-size: 100%;
    list-style-type: none;
    padding-left: 0; /* Elimina el padding izquierdo para evitar que los elementos se desalineen */
    margin: 0; /* Elimina los márgenes por defecto de la lista */
    text-align: center; /* Centra el contenido de la lista */
}

.instructions ul li {
    margin-bottom: 40px; /* Espaciado general entre los elementos de la lista */
    text-align: center;
}

