/* game-controls.css */

/* Contenedor general de los controles */
.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Barra de estado */
.status-bar {
  color: white;
  font-size: 16px;
  margin-right: 20px;
}

/* Estilo común para los botones */
.control-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.control-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Estilo para los íconos */
.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* Estilos específicos para cada botón */
.pause-button {
  border-radius: 5px;
}

.start-button {
  border-radius: 5px;
}

.restart-button {
  border-radius: 5px;
}

.sound-button {
  border-radius: 5px;
}

.fullscreen-button {
  background-color: #000000; /* Negro */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  z-index: 100;
}

.fullscreen-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para el contenedor cuando está en pantalla completa */
.fullscreen {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/gameFont.png');
  background-size:contain; /* Ajusta la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
}


/* Si quieres que las celdas tengan un tamaño más grande aún, puedes cambiar la propiedad */
.fullscreen .cell {
  width: 60px; /* O el tamaño que prefieras */
  height: 60px;
}
