.timer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo el contenido */
}

.timer-content {
  display: flex;
  align-items: center; /* Coloca el ícono y el texto del tiempo en una misma línea */
  margin-bottom: 10px; /* Espacio entre el temporizador y el objetivo */
  margin-right: 500px;
}

.clock-icon {
  width: 24px; /* Ajusta el tamaño del ícono del reloj */
  height: 24px;
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.time-text {
  font-size: 15px; /* Tamaño del texto del tiempo */
  font-weight: bold;
}

.objective-text {
  font-size: 20px; /* Tamaño del texto del objetivo */
  font-weight: normal;
  text-align: center; /* Centra el texto del objetivo */
  margin-top: -25px;
  margin-left: 300px;
  font-weight: bold;
}
