/* timer.css */
.timer {
  display: flex; /* Usa flexbox para alinear los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  gap: 8px; /* Espacio entre el ícono y el texto */
  font-family: 'Aclonica';
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
    
  }

  .clock-icon {
    width: 30px; /* Ajusta el tamaño del ícono */
    height: 30px; /* Ajusta el tamaño del ícono */
    object-fit: contain; /* Evita que la imagen se distorsione */
  }